nav {
    width: 100%;
    /* justify-content: space-around; */
    display: flex;
    position: fixed;
    margin-top: 0%;
    background-color: rgb(157, 213, 223);
    color: #08838b;
}

nav img {
    width: 80px;
    height: 60px;
    border-radius: 30%;
    overflow: hidden;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
    /* margin-right: ; */
    padding-left: 20px 0;
    color: white;
    top: 0%;
    justify-content: space-between;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    list-style: none;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    ;
    color: rgba(12, 12, 9, 0.7);
}

header {
    text-align: center;
    /* margin-top: 10%; */
}

/* body{
    background-color: lightblue;
} */
h2,
h3 {
    color: #08838b;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}
h1{
    margin-top: 5%;
}

tr .row {
    display: inline-block;
    margin: 2%;
}

input {
    width: 150px;
    border: #08838b solid 3px;
    border-radius: 2%;
    background-color: rgb(157, 213, 223);
}

form,
button {
    text-align: center;
}

.form {
    text-align: center;
    margin: 2%;
}

.row {
    display: inline-block;
    margin: 2%;
    align-content: center;

}

.row .card {
    width: 400px;
    height: 400px;
    margin: 4%;
    background-color: rgb(157, 213, 223);
}

.row .card img,
p {
    display: inline-block;
    position: relative;
}

.footer {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(157, 213, 223);

}

i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    color: rgba(11, 17, 15, 0.7);
}

i {
    padding: 10px;
    margin-left: 10%;
    display: flex;
    justify-content: space space-around;
    color: #08838b;
}

.class {
    background-image: url('https://images.pexels.com/photos/616650/pexels-photo-616650.png?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}

.card .footer,
footer {
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
}

.animate {
    background-color: rgb(255, 0, 221);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    animation: rotate 3s 1s infinite alternate ease-in-out;
    margin: 2%;

}

.anim {
    background-color: rgb(45, 212, 23);
    height: 66px;
    margin: 2%;
    width: 66px;
    border-radius: 50%;
    animation: rotate1 3s 1s infinite alternate ease-in-out;

}

.anima {
    background-color: rgb(0, 255, 200);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    animation: rotate2 3s 1s infinite alternate ease-in-out;

}

.animati {
    background-color: rgb(211, 208, 33);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    animation: rotate3 3s 1s infinite alternate ease-in-out;

}


@keyframes rotate {
    from {
        transform: translateX(2px)
    }

    to {
        transform: translateX(250px)
    }
}

@keyframes rotate1 {
    from {
        transform: translateX(250px)
    }

    to {
        transform: translateX(2px)
    }
}

@keyframes rotate2 {
    from {
        transform: translateX(2px)
    }

    to {
        transform: translateX(250px)
    }
}

@keyframes rotate3 {
    from {
        transform: translateX(250px)
    }

    to {
        transform: translateX(2px)
    }
}

p {
    font-family: 'Indie Flower', cursive;
    /* font-size: 18px; */
}
