nav {
    width: 100%;
    /* justify-content: space-around; */
    display: flex;
    position: relative;
    margin-top: 0%;
    background-color: silver;
    color: #08838b;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
    /* margin-right: ; */
    padding-left: 20px 0;
    color: white;
    top: 0%;
    justify-content: space-between;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    list-style: none;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    ;
    color: rgba(12, 12, 9, 0.7);
}
input{
    width: 70px;
}
.row{
    display:inline-block;
    margin: 2%;
}
.row .card{
    width: 400px;
    height: 400px;
    margin: 4%;
}
.row .card img,p{
    display: inline-block;
    position: relative;
}

.foot{
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}
i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    color: rgba(19, 19, 18, 0.7);
}
i {
    padding: 10px;
    margin-left: 10%;
    display: flex;
    justify-content: space space-around;
    color: #08838b;
}
